.example-container {
  height: 80vh;
  width: 100% !important;
	overflow: auto !important;
  }
table {
  width: 100% !important;
}

.close1{
	float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
	opacity: 100%;
}

button.close1{
	-webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.popup{
	padding-left: 15px;
padding-right: 15px;
padding-bottom: 15px;
background: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.fields{
  padding: 10px;margin-top: 10px;border: 1px solid #c6c6c6;
}