<div class="col-sm-8" style="float: left;width:80%;">
  <mat-tab-group [color]="'warn'">
    <mat-tab label="Draft Client Contract">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>Contract</th>
          <th>Draft Client Contract</th>

        </tr>
      </table>
      <br>
      <h4 style="color:#367fa9"> Objective</h4>
      <p>To document the terms and conditions of a legally binding agreement between BRILLIO and the client.</p>
      <h4 style="color:#367fa9">Description</h4>
      <p>This activity involves the negotiation of contractual clauses, which continue until both BRILLIO and the
        client have arrived at a mutually satisfactory agreement.</p>
      <p>Should a client's RFP be available and contain mandatory terms and conditions, BRILLIO's legal counsel should
        review it for possible amendments to those terms and conditions for the protection of BRILLIO's interests,
        prior to the proposal submission.</p>
      <p>When preparing a contract, either following an accepted "unsolicited" bid or an RFP that does not specify
        terms or conditions, as a starting point, BRILLIO will use terms and conditions as per our standard contract
        models.</p>
      <p>In either case, before submission to the client, the contract is reviewed and approval granted based on the
        appropriate levels according to the BRILLIO Operations Management Framework, BRILLIO's Legal counsel and the
        Engagement Assessment Services groups.</p>
      <p>Before contacting legal counsel, you can use the "Legal Framework for Proposals and Contracts" to help you
        review your contract's terms and conditions and identify possible issues to discuss with them (see the
        "Related Documents" in the "References" section of this page for more information).</p>
      <p>As each contract is unique and relevant to the Project opportunity being pursued, many specific terms,
        conditions and issues need to be negotiated before a complete agreement can be reached. Contracts should
        provide clarity and direction and should specify items that are included and excluded, as well as actions to
        be taken as part of the services provided. Particular focus should be directed to contractual items such as,
        but not limited to:</p>

      <ul>
        <li>Liability limitations; </li>
        <li>Intellectual Property; </li>
        <li>Licenses, Royalties, Copyrights; </li>
        <li>Fees, Invoices, Expenses; </li>
        <li>Contractual change management; </li>
        <li>Delivery acceptance criteria; </li>
        <li>Warranties</li>
        <li>Dispute resolution; </li>
        <li>Facilities; </li>
        <li>Obligations to the subcontractors, delivering the services; </li>
        <li>Measurements of success; </li>
        <li>Use of open source software (if applicable); </li>
        <li>Adherence to BRILLIO's security policies and standards if using any BRILLIO assets; </li>
        <li>If BRILLIO is custodian of client data, classification of that data will be according to the client's
          classification; if the client does not provide such classification to BRILLIO, then BRILLIO will follow
          BRILLIO's classification, using "sensitive" as the default classification. </li>
      </ul>
      <p>Either BRILLIO or the client may want to start the Delivery process as early as possible, so it is important
        to ensure all elements pertaining to this Project contract are addressed. When the Delivery activities are
        started early (before the final approval of the contract), a formal agreement must be obtained from the client
        ensuring that all expenses and efforts by BRILLIO in this early stage of the engagement will be paid by the
        client, regardless of whether the contract negotiations are successful.</p>
      <p>During contract negotiations, remember to consider the major risks identified in the Proposal activities.
        Clarify situations that present risk prior to signing the contract and propose possible methods of sharing the
        risk with the client.</p>
      <p>Should the contract between BRILLIO and the client not be finalized when BRILLIO begins the Delivery Phase, a
        Memorandum of Understanding (MOU) or Letter of Intent (LOI) is required and obtained from the client, to
        protect BRILLIO's interests. This agreement must ensure that, despite the ongoing contract negotiations, all
        costs supported by BRILLIO, including manpower, will be paid by the client. Such interim agreements must
        clearly identify:</p>
      <ul>
        <li>Work to be performed; </li>
        <li>Terms and conditions that apply to this agreement; </li>
        <li>Duration of this interim agreement; </li>
        <li>All parties involved with this agreement, with respective signatures; </li>
        <li>That the client is making an irrevocable commitment to pay BRILLIO for all work done and all expenditures
          made, regardless of whether the contract is eventually signed. </li>

      </ul>
      <p>An MOU and LOI are in fact types of contracts and are therefore subject to the same BRILLIO approvals as any
        other contract. It is therefore important to ensure that the approvers for BRILLIO and the client have the
        necessary authority to enter into such an agreement. The MOU and LOI are considered temporary arrangements,
        and as such must be replaced by a signed contract.</p>
      <p>For projects initiated as part of a full Outsourcing Services contract, an umbrella clause may be included to
        cover all subsequent contracts entered into between BRILLIO and the client. In this case, a contract addendum
        can be used to establish an agreement if it includes what we are delivering, when it will be delivered, and
        how much we will charge before we start the associated work effort. If such a clause has not been included in
        the original outsourcing agreement, it is necessary to create a new contract independent of the outsourcing
        agreement.</p>
      <p>For projects that will or are likely to include open source software in BRILLIO's deliverables to the client,
        certain contractual stipulations must be provided in the contract. First, BRILLIO will not offer any warranty
        that the open source software included in the deliverables does not infringe on any third party IP rights, and
        secondly, BRILLIO will not grant the client ownership of the open source component of the project
        deliverables. In addition, when open source software is delivered to the client, the responsibility to monitor
        the sites from which open source software originates will be transferred to the client (unless open source
        software is part of a BRILLIO commercial software solution or unless BRILLIO has the responsibility to
        maintain the solution for the client.) </p>
      <p>The "Legal Framework for Proposals and Contracts" mentioned in the "References" section will assist you in
        reviewing the essential clauses of the agreements that are usually signed by BRILLIO. If you need
        clarification or a better understanding of any particular clause, do not hesitate to contact our in-house
        legal counsel.</p>

    </mat-tab>
    <mat-tab label="Finalize Suppliers and Subcontractors Contracts">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>Contract</th>
          <th>Finalize Suppliers and Subcontractors Contracts</th>

        </tr>
      </table>
      <br>
      <h4 style="color:#367fa9"> Objective</h4>
      <p>To document and finalize the terms and conditions of a legally binding agreement between BRILLIO and third
        party suppliers or subcontractors involved in project delivery.</p>
      <h4 style="color:#367fa9">Description</h4>
      <P>This activity may occur concurrently to the client's contract negotiations, as the team responsible for those
        negotiations must also review all Teaming Agreements established with Third Parties involved in the Project
        delivery for the client.</P>
      <P>At this time, these Teaming Agreements and the respective terms and conditions for each third party supplier
        are finalized and any discrepancies resolved, prior to a formal contract being signed. The terms and
        conditions outlined should be essentially the same as the prime contract between BRILLIO and the client.
        Particular attention should be paid to the limitation of BRILLIO's liability to third party suppliers, in the
        event that the contract between BRILLIO and the client ends prematurely, or if penalties are to be paid to
        BRILLIO if a third party is unable to deliver the services required. These contracts should also include the
        requirement for the suppliers and subcontractors to adhere to BRILLIO's security policies and standards. </P>
      <P>Remember to consider the major risks identified in the proposal preparation during contract negotiations.
        Clarify situations that present risk prior to signing the agreement or contract, and propose possible ways to
        share the risk with the third party supplier.</P>
      <P>If third party IP assets are to be required as part of the engagement, the bid manager must ensure that: </P>
      <ul>
        <LI>BRILLIO has been granted a license for use of the assets; </LI>
        <LI>License terms are aligned with BRILLIO's intended use. </LI>

      </ul>

      <p>In the event that open source software will be part of the solution delivered to the client the bid manager
        must ensure that: </p>

      <ul>
        <LI>The open source software's license terms are aligned with BRILLIO's intended use of the open source
          software; </LI>
        <LI>The open source's license terms do not come into contradiction with the license terms of other proprietary
          software used as part of the project; </LI>
        <LI>Open source support services are acquired from third party if required. </LI>
      </ul>
      <p>Before submission to the third party supplier, the finalized agreement or contract may be reviewed by
        BRILLIO's Legal counsel and approval granted, based on the appropriate levels outlined in BRILLIO's Operations
        Management Framework.</p>
      <p>The "Legal Framework for Proposals and Contracts" mentioned in the "References" section will assist you in
        reviewing the essential clauses of the agreements that are usually signed by BRILLIO. If you need
        clarifications or a better understanding of any particular clauses, do not hesitate to contact our in-house
        legal counsel.</p>
    </mat-tab>
    <mat-tab label="Approve Contracts">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>Contract</th>
          <th>Approve Contracts</th>

        </tr>
      </table>
      <br>
      <h4 style="color:#367fa9"> Objective</h4>
      <p>To obtain the appropriate authorization to permit BRILLIO, the client and third party suppliers or
        subcontractors to enter into legally binding agreements.</p>
      <h4 style="color:#367fa9">Description</h4>
      <P>To provide a summary of each contract's attributes and contents, a contract signing sheet is prepared for
        each contract or agreement requiring signatures. A contract review meeting is held with BRILLIO senior
        management or authorized levels as per the Operations Management Framework, for their approvals and
        signatures.</P>
      <P>All parties, i.e. BRILLIO, the client and third party suppliers, entering into legally binding agreements
        must approve the contracts through an authorized representative from each party. BRILLIO must receive a
        signed, original agreement from each party involved.</P>
      <P>This basic "complete the loop" activity also requires that all the documents and notes that were prepared and
        used during this phase be gathered and filed for future access. This requirement also includes the signed,
        original version of all contracts or agreements, including license agreements if any open source software is
        used. The Open Source Checklist can be used as a reminder of the contractual considerations when open source
        software is used.</P>
      <P>The final step is to prepare an Engagement Description form, highlighting the important elements, e.g. new
        services rendered as part of the agreement. This form is sent to the Infocentre, to provide a corporate record
        that may be refered to for future bids.</P>
      <P>Copies of the contracts and summaries are to be provided to the accounting teams, as per the processes
        outlined by each BRILLIO business unit (BU), for billing arrangements and processing.</P>
      <P>The "Legal Framework for Proposals and Contracts" mentioned in the "References" section will assist you in
        reviewing the essential clauses of the agreements that are usually signed by BRILLIO. If you need
        clarification or a better understanding of any particular clause, do not hesitate to contact our in-house
        legal counsel. The Intellectual Property Management Framework in the "References" section provides additional
        information about the contractual requirements when open source is used.</P>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="col-sm-3" style="float:right;">
  <br>
  Click here for Documents<br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Proposal</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Proposal Analysis Summary</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Contract</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Teaming Agreement </a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Supplier or Subcontractor Pricing </a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">CContract Sign-off Sheet</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">License Agreements</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FContract&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Engagement Description Form</a><br>
</div>
