<div class="custom col-sm-8" style="float: left;">
  <mat-tab-group [color]="'warn'">
    <mat-tab label="Transfer Knowledge and Deliverables">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>End of Contract</th>
          <th>Transfer Knowledge and Deliverables</th>

        </tr>
      </table>
      <br>
      <h4 style="color:#367fa9"> Objective</h4>
      <p>To transfer to a client the final deliverables and associated documentation of a project, thereby fulfilling
        and discharging BRILLIO's contractual obligation to the client.</p>
      <h4 style="color:#367fa9">Description</h4>
      <p>To review the list of deliverables with the client to ensure BRILLIO has fulfilled the requirements of the
        project, all required deliverables and documentation, as defined in the contract and in the project plan, are
        given to the client upon completion of the project. In an outsourcing agreement, the transfer of deliverables
        occurs between the performer of the work and the appropriate recipient. As an example, the deliverables and
        knowledge resulting from a developed solution would be transferred to the client's operations and maintenance
        organizations. In a BRILLIO internal project, deliverables and knowledge are transferred to the internal service
        requiring the project execution.</p>
      <p>The transfer of documentation may include the identification of:</p>
      <ul>
        <li>Activities required by the client to take over the product, service or solution, including any activities
          related to the use of open source software if it is part of the delivered solution; </li>
        <li>Resources the client will need; </li>
        <li>Support mechanisms used by BRILLIO to provide support during the guarantee or warranty period, if
          applicable; </li>
        <li>Risks associated with the takeover by the client organization. </li>

      </ul>
      <p>Additionally, project documentation should show receipt and formal acceptance of all contract items to legally
        protect BRILLIO. This is usually demonstrated through the use of a final project acceptance (using the Request
        for Review and Approval) signed by representatives from both BRILLIO and the client organization.</p>
      <p>The "Legal Framework for Proposals and Contracts" mentioned in the "References" section will assist you in
        reviewing the essential clauses of the agreements that are usually signed by BRILLIO. If you need clarifications
        or a better understanding of any particular clauses, do not hesitate to contact our in-house legal counsel.</p>
      <br>
    </mat-tab>
    <mat-tab label="Perform Contract Assessment and Closure">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>End of Contract</th>
          <th>Perform Contract Assessment and Closure</th>

        </tr>
      </table>

      <h4 style="color:#367fa9"> Objective</h4>
      <p>To perform contract assessment and financial closure of the contractual obligations.</p>

      <h4 style="color:#367fa9">Description</h4>
      <p>The end of a project engagement is normally reached when all the project-identified deliverables are
        transferred to the client organization. The contract can also be terminated by mutual consent for reasons of
        late delivery, convenience, or contract termination clauses, for example.</p>
      <p>Whether or not the contract ended normally, this activity covers the steps necessary to ensure that all of
        BRILLIO's contractual obligations to the client are closed. This also extends to the obligations of the client
        to BRILLIO (i.e. final payments for work delivered) and those BRILLIO may have to suppliers or subcontractors.
      </p>
      <p>Depending on the size, complexity, risk and strategic aspect of the project, these are examples of steps that
        can be taken to assess the project and finalize financial issues:</p>
      <ul>
        <li>Review and finalize the Project Work Plan; </li>
        <li>Review and complete contractual obligations, including: </li>
        <ul>
          <li>Intellectual property protection or transfer;</li>
          <li>Licenses, royalties and copyrights; </li>
          <li>Facilities transfer or dismantling;</li>
          <li>Obligations to subcontractors; </li>
          <li>Warranty periods</li>
        </ul>
        <li>Prepare the final financial statement; </li>
        <li>Prepare the contract assessment </li>
        <ul>
          <li>Review project's goals and assess the extent to which they were met; </li>
          <li>Evaluate the project success based on the original requirements (e.g. scope control, budget, schedule,
            deliverables, change requests, outstanding issues, approvals, final transfer); </li>
          <li>Identify concerns for maintenance and future improvements (if any); </li>
        </ul>
        <li>Confirm delivery completion to BRILLIO's accounting services; </li>
        <li>Review the contract assessment with the client's representative: </li>
        <ul>
          <li>Ascertain client satisfaction with project outcome; </li>
          <li>Apply Client Satisfaction Assessment Program (CSAP) as required by the business unit's CSAP procedure
            requirements and plan; </li>
        </ul>
        <li>Prepare final milestone review: </li>
        <ul>
          <li>Evaluate BRILLIO project management support (e.g. budget, schedule, team, risk, quality); </li>
          <li>Assemble final milestone related documents (e.g. contract assessment, final work plan, budget or financial
            statement, progress report, project metrics, completed CSAP form); </li>

        </ul>
        <li>Hold final milestone review with synergy or Engagement Assessment Services group (if required by the
          Operations Management Framework): </li>
        <ul>
          <li>Consider providing feedback to the project team members; </li>
        </ul>

        <li>Update the engagement description form and forward to documentation centre; </li>
        <li>Verify that all project closing steps are completed (e.g. deliverable and knowledge transfer, team members'
          project performance appraisals (BRILLIO members and subcontractors/suppliers), team members' resume updates,
          assessments, financial and contractual closures). </li>


      </ul>
      <p>In an outsourcing contract, billing and payment provisions may be defined in the contract, in which case these
        billing and payment arrangements would apply. In the case of a BRILLIO internal project, budgetary and financial
        issues still have to be processed, particularly when the project involved resources from different business
        units or external suppliers and subcontractors.</p>
      <br>
    </mat-tab>
    <mat-tab label="Archive Management File">

      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>End of Contract</th>
          <th>Archive Management File</th>

        </tr>
      </table>

      <h4 style="color:#367fa9"> Objective</h4>
      <p>To gather the management information related to the project and store it for future use or reference according
        to business unit procedures.</p>

      <h4 style="color:#367fa9">Description</h4>
      <p>Upon the completion of a project, information deemed to be of benefit to BRILLIO in the future is retained in a
        project file. For the most part, these documents represent the project management deliverables, notes, and all
        signed forms.</p>
      <p>Examples of documents to be retained include:</p>
      <ul>
        <li>Project plan; </li>
        <li>Final work plan, budget, contract assessment; </li>
        <li>Project Change requests; </li>
        <li>Status and progress reports; </li>
        <li>Meeting agenda and minutes. </li>

      </ul>
      <p>Additionally, you should keep any documents (e.g. deliverables) that might help BRILLIO in the future, either
        in a subsequent bid for new business or in case of litigation.</p>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="col-sm-2" style="float: right;">
  <br>
  Click here for Documents<br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Contract</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Plan</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Work Plan</a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">ProjectChangeRequest</a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">ProjectChangeRequestList</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Request for Review and Approval</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Contract Assessment</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Engagement Description</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Meetings Agenda and Minutes</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FClosure&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project File</a><br>
</div>
