<div class="col-sm-8" style="float: left;width:80%;">
  <mat-tab-group [color]="'warn'">
    <mat-tab label="Project Initiation">
      Project Initiation Contents
    </mat-tab>
    <mat-tab label="Governance">
      <iframe width="100%" height="480"
        src="https://app.powerbi.com/view?r=eyJrIjoiOTg2ZjExMjAtYzc0YS00NmRkLThlNzMtMzUyM2IxNjc0NmI1IiwidCI6Ijk3OTg0YzJiLWEyMjktNDYwOS04MTg1LWFlODQ5NDdiYzNmYyIsImMiOjEwfQ%3D%3D"
        frameborder="0" allowfullscreen="true"></iframe>
    </mat-tab>
    <mat-tab label="Transition">
      <br>
      <br>
      Welcome to the Transition section, below are the list of activities to be followed in a managed services
      transition.
    </mat-tab>
    <mat-tab label="Start-up Project">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>Delivery </th>
          <th>Start-up Project </th>

        </tr>
      </table>

      <h4 style="color:#367fa9"> Objective</h4>
      <p> To establish the management environment in which the project will be executed.</p>
      <h4 style="color:#367fa9">Description</h4>
      <p>Performing the Start-up-activity is essential to clearly establishing how the project will be set-up and
        therefore facilitates the project's execution and control activities. It also facilitates communication and
        relationships that must be established with the project stakeholders throughout the project's execution.</p>
      <p>In all projects where BRILLIO is responsible in whole or in part for the outcome, the project Start-up activity
        and particularly the preparation of the Project Plan are highly recommended. In working environments where
        business and project management processes are already documented (e.g. BRILLIO business units and outsourcing
        services engagements including project management processes), only the key and specific elements of the Project
        Plan (e.g. project definition, scope, assumptions, organizational structure and work plan) need to be
        documented. Project scope, size, complexity, risk, strategic value and BRILLIO management requirements should
        guide the decision to prepare a Project Plan.</p>
      <p>If the project is using open source software, review the Open Source Checklist as a reminder of management
        activities related to open source software usage during the Delivery phase.</p>
      <p>The Start-up activity can be performed in the following situations:</p>
      <ul>
        <li>For project delivery to a client; </li>
        <li>For BRILLIO's internal projects; </li>
        <li>For the execution of some phases of the Client Partnership Management Framework, such as the preparation of
          a proposal, due diligence and transition. These phases are considered and conducted as projects; </li>
        <li>For a project that is derived from an Outsourcing Services engagement, the project can be part of the
          contract (e.g. part of the contract schedules or part of an annual work program, open delivery budget), or can
          arise in the course of the engagement evolution. </li>
        <li></li>
      </ul>
      <p>The Start-up activity consists of the following sub-activities:</p>
      <ul>
        <li>Confirm the project work environnement within which will work the project team and will have an implact on
          the work methods; </li>
        <li>Preparing the Project Plan, describing the scope, assumptions, management organizational structure,
          management processes and work plan; </li>
        <li>Reviewing the document to verify its compliance with previous phases requirements and project management
          guidelines and obtaining approvals; </li>
        <li>Confirming the assignment of project team members. </li>
        <li></li>
      </ul>
      <p>The "Legal Framework for Proposals and Contracts" mentioned in the "References" section will assist you in
        reviewing the essential clauses of the agreements that are usually signed by BRILLIO. If you need clarification
        or a better understanding of any particular clause, do not hesitate to contact our in-house legal counsel.</p>

      <h4 style="color:#367fa9"> Sub-Activities</h4>
      <table border=1 rules=all>
        <tr>
          <td>
            <a href="Start-upProjectsubact1.html">Confirm Project Work Environment</a>
          </td>
          <td>To confirm that the office space, hardware, software, hard copy files, software directories, and
            communication tools are established.</td>
        </tr>
        <tr>
          <td>
            <a href="Start-upProjectsubact2.html"> Prepare Project Plan</a>
          </td>
          <td>To prepare the Project Plan and its related documents.</td>
        </tr>
        <tr>
          <td>
            <a href="Start-upProjectsubact3.html">Review and Approve Project Plan</a>
          </td>
          <td>To review the Project Plan in order to verify its compliance with the previous phases' requirements and
            project management guidelines. To obtain the appropriate approvals for the Project Plan from the client and
            BRILLIO Management.</td>
        </tr>
        <tr>
          <td>
            <a href="Start-upProjectsubact4.html">Confirm Project Team Assignment</a>
          </td>
          <td>To confirm the assignment of the individuals who will execute the project.</td>
        </tr>
      </table>
      <br>
    </mat-tab>
    <mat-tab label="Execute and Control Project">
      <br>
      <table border=1 bordercolor="#DCDCDC" rules=all>
        <tr style="color:#367fa9">
          <th>Phase:</th>
          <th>Activity:</th>

        </tr>
        <tr>
          <th>Delivery </th>
          <th>Execute and Control Project </th>

        </tr>
      </table>

      <h4 style="color:#367fa9"> Objective</h4>
      <p>To conduct the project and control its execution by applying the project management processes defined in the
        Project Plan.</p>
      <h4 style="color:#367fa9">Description</h4>
      <p>Following the project planning processes of the Start-up Project activity, this activity covers the management
        of the actual delivery of the project's outcome: its deliverables. To effectively manage a project, the
        following steps should be applied according to the defined processes of the project plan:</p>
      <ul>
        <li>Track deliverables and manage their procurement, team efforts, costs and expenses: track the execution of
          the project's activities, subcontracted deliverables and their impact on the Project Work Plan and the project
          budget; </li>
        <li>Manage risks: track and mitigate the project's risks; </li>
        <li>Control assignments: control the assignment and de-assignment of project team members; </li>
        <li>Process project change requests: evaluate the impacts of project change requests, process their approvals
          and integrate them into the overall project plan; </li>
        <li>Resolve outstanding issues: identify, track and resolve outstanding issues; </li>
        <li>Verify deliverable compliance: validate and verify project deliverables against established criteria and
          requirements and process their approvals; </li>
        <li>intain project configuration item list: maintain the project list of deliverables and their status; </li>
        <li>Report to client authority and BRILLIO management: report information on the project's status, as part of
          communication management processes; </li>
        <li>Perform milestone reviews and focus synergy sessions: conduct the reviews and synergy sessions according to
          Project Plan or as needed; </li>
        <li>Manage human resources: integrate and support project team members; </li>
        <li>Perform team members' performance appraisals: perform individual performance appraisals as required. </li>

      </ul>
      <p>Although the extent of the application of each of these management activities should be guided by the project
        scope, size, complexity, risk, strategic value and BRILLIO management requirements, applying these processes
        will ensure proper control over the project's execution, particularly in the area of scope management.
        Ineffective scope management is recognized as one of the major causes for project failure.</p>
      <p>These processes are iterative and will be repeated several times throughout the project (e.g. tracking
        deliverables, milestone reviews, maintaining the configuration item list). They should also be recognized as an
        integrated group of processes. For example, an outstanding issue can be resolved by a project change request.
        This request will be recorded in the Change Request List and the associated deliverables version changes in the
        Configuration Item List. It should be noted that the order in which they are described is not an indication of
        the order in which they are actually performed.</p>
      <p>These processes support the monitoring of the project's performance, which should be reported regularly to the
        project management authorities to identify variance from the initial plan. This can help management in taking
        preventive actions in anticipation of possible problems.</p>
      <p>In order to ensure proper understanding of the project's management environment and outcome by all project
        stakeholders, the Execute and Control Project activity should not start before the Project Plan has been
        approved (see Start-up Project, Review and Approve Project Plan).</p>
      <p>All documents produced (including notes, meeting minutes) and forms completed and signed during the application
        of the project delivery management processes should be retained in a Project File. This project file represents
        the repository of project management information that will, at the end of the project, be archived for future
        reference.</p>
      <h4 style="color:#367fa9"> Sub-Activities</h4>
      <table border=1 rules=all>
        <tr>
          <td><a href="ExecuteandControlact1.html">Track Deliverables, Efforts and Cost</a></td>
          <td>To maintain the project's budget and work plan.</td>
        </tr>

        <tr>
          <td>
            <a href="ExecuteandControlsubact2.html">Manage Risks</a>
          </td>
          <td>To track and mitigate project risks..</td>
        </tr>
        <tr>
          <td>
            <a href="ExecuteandControlsubact3.html">Control Assignments</a>
          </td>
          <td>To control the assignment and de-assignment of team members.</td>
        </tr>
        <tr>
          <td>
            <a href="ExecuteandControlsubact4.html">Process Project Change Requests</a>
          </td>
          <td>To evaluate and process the impact of project change requests.</td>
        </tr>

        <tr>
          <td><a href="ExecuteandControlact5.html">Resolve Outstanding Issues</a></td>
          <td>To identify, track and resolve outstanding issues.</td>
        </tr>
        <tr>
          <td><a href="ExecuteandControlact6.html">Verify Deliverable Compliance</a></td>
          <td>To verify the quality and process approvals of deliverables.</td>
        </tr>
        <tr>
          <td><a href="ExecuteandControlact7.html">Maintain Project Configuration Item List</a></td>
          <td>To maintain the project's deliverables status list.</td>
        </tr>
        <tr>
          <td><a href="ExecuteandControlact8.html">Report to Client Authority and to BRILLIO Management</a></td>
          <td>To provide the project status information to the client authority and BRILLIO Management.</td>
        </tr>
        <tr>
          <td><a href="ExecuteandControlact9.html">Perform Milestone Reviews and Focus Synergy Sessions</a></td>
          <td>To conduct milestone reviews and synergy sessions according to the Project Plan.</td>
        </tr>
        <tr>
          <td><a href="ExecuteandControlact10.html">Manage Human Resources</a></td>
          <td>To ensure effective integration and support of team members.</td>
        </tr>
        <tr>
          <td><a href="ExecuteandControlact11.html">Perform Team Members Performance Appraisals</a></td>
          <td>To perform each team member's performance appraisal.</td>
        </tr>
      </table>
      <br>
    </mat-tab>
    <mat-tab label="Digital Index Assesment">
      <br>
      <br>
      Digital Index Assesment Contents
    </mat-tab>
  </mat-tab-group>
</div>
<div class="col-sm-2" style="float:right;">
  <br>
  Click here for Documents<br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Proposal</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Contract</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Plan </a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Proposal Work Plan </a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Quality Management Plan </a><br>

  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Configuration Management Plan </a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Risk Management Plan </a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Communication Management Plan</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Client Documentation </a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Communication Plan</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Procurement Management Plan </a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Deliverable Compliance Checklist</a><br>

  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Request for Review and Approval </a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project File</a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Risks Identification List</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Assignment / De-assignment Information</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">ProjectChangeRequest</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">ProjectChangeRequestList</a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Outstanding Issue</a><br>

  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Outstanding Issue List</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Meeting Agenda and Minutes</a><br>
  <br> <a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Configuration Item List</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Project Status Report</a><br>
  <br><a
    href="https://brillioonline.sharepoint.com/Practices/digitalengineering/DE-Automation-CoE/DIDocuments/Forms/AllItems.aspx?RootFolder=%2FPractices%2Fdigitalengineering%2FDE-Automation-CoE%2FDIDocuments%2FDelivery&FolderCTID=0x01200068C082E2A4584C418AFB0677C0E4FBEB&View=%7B80656AEA-3832-4432-AC87-3D8191EF0338%7D"
    target="_blank">Member Assignment Performance Appraisal</a><br>
  <br>
</div>
