<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big  icon-warning">
              <i class="nc-icon nc-globe text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">New Proposal/Active Projects</p>
              <p class="card-title" style="font-size: 20px;"> {{project_data}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i><a class="pointer">More info</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big  icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Codex Service Request Compliance</p>
              <p class="card-title" style="font-size: 20px;">{{codex_data}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i><a class="pointer" (click)="codex_call()">More info</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big  icon-warning">
              <i class="nc-icon nc-satisfied text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category" style="margin-bottom: 10px;">Customer Experience</p>
              <p class="circle-text1">3</p>
              <div class="circle-text4"></div>
              <p class="circle-text2">2</p>
              <div class="circle-text4"></div>
              <p class="circle-text3">1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i><a class="pointer" (click)="customer_call()">More info</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big  icon-warning">
              <i class="nc-icon nc-spaceship text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Digital Index Score</p>
              <p class="card-title" style="font-size: 20px; margin-top: 12px;">{{x}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i><a class="pointer" (click)="di_call()">More info</a>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<!-- <div class="card" *ngIf="isCodex">
    <div class="card-body">

    </div>
  </div> -->
<div class="card" *ngIf="isCodex">
  <div class="card-body">
    <iframe width="100%" height="550px"
      src="https://app.powerbi.com/view?r=eyJrIjoiMTRjNjVmMjUtNTY4ZS00YWJhLWIzZTQtYmQ3N2MyZWQ1MTJjIiwidCI6Ijk3OTg0YzJiLWEyMjktNDYwOS04MTg1LWFlODQ5NDdiYzNmYyIsImMiOjEwfQ%3D%3D"
      frameborder="0" allowfullscreen="true"></iframe>
  </div>
</div>
<div class="card" *ngIf="isCustomer">
  <div class="card-body">
    <iframe width="100%" height="550px"
      src="https://app.powerbi.com/view?r=eyJrIjoiMzY4Zjg1YzItMjY5Mi00NTQzLWE0MjgtYTIyM2Y5MTVlOTBhIiwidCI6Ijk3OTg0YzJiLWEyMjktNDYwOS04MTg1LWFlODQ5NDdiYzNmYyIsImMiOjEwfQ%3D%3D"
      frameborder="0" allowfullscreen="true"></iframe>
  </div>
</div>

<div class="card" *ngIf="isDi">
  <div class="card-body">
    <iframe width="100%" height="900"
      src="https://app.powerbi.com/view?r=eyJrIjoiNzg2MzUxNGQtODBlYi00ZGFmLWE0YmYtNmQ0YjdkNDY5MGFkIiwidCI6Ijk3OTg0YzJiLWEyMjktNDYwOS04MTg1LWFlODQ5NDdiYzNmYyIsImMiOjEwfQ%3D%3D"
      frameborder="0" allowfullscreen="true"></iframe>
  </div>
</div>
<div class="card" *ngIf="isWelcome">
  <div class="card-body">
    <h4 class="card-title" style="color:#34b070;">Welcome to Digital Infrastructure Services Library</h4>
    <div class="card-body">
      <h6 style="line-height: 2em">We are an 250+ strong associates skilled in various infrastructure platforms
        delivering world class services to our customer spread across US, UK, Europe and India markets
        This web page helps you to understand the various aspects of the practice and how our services are delivered ,
        also various referenceable materials along with metrics across our key engagements delivered now.
      </h6>
    </div>
  </div>
</div>
